body {
	background-color: rgb(212, 143, 235);
	color: rgb(63, 63, 63);
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: 50px 20% 50px;
	border-radius: 5px;
	background-color: snow;
}

header {
	font-size: 72px;
	color: rosybrown;
}

.todo-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 30px;
}

.single-todo-div {
	display: flex;
	align-content: baseline;
	list-style: none;
	font-size: 24px;

	border: solid 1px lightblue;
	border-radius: 5px;
	padding: 5px;
}

.single-todo-div:hover {
	background-color: lavenderblush;
}

.todoCheckbox {
	height: 28px;
	width: 28px;
	border-radius: 12px;
	margin-right: 5px;
	background-color: lightgrey;
}
